* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    padding: 5%;
    font-size: 15px;
    background: linear-gradient(45deg, #AEF6F6, #F2C4BC);
}

.container {
    height: 100%;
    position: relative;
}

.title {
    width: 100%;
    padding: 2rem;
    position: relative;
    left: 50%; 
    transform: translateX(-50%);

    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow:  1px 2px 2px black;
    color: #8D5F57;
    
    animation: getTitle ease-in .5s .1s forwards;
}

@keyframes getTitle {
    0% {
        top: -10rem;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

.form {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.form__warning {
    position: absolute;
    top: -1.5rem;
    left:1rem;
    font-size: 1rem;
    color: red;
}

.form__errorCity{
    font-size: 1rem;
    text-transform: uppercase;
}

.form__cityName,
.form__button {
    position: relative;
    padding: 1rem ;
    font-size: 1.3rem;
    border:none;
    background:transparent;
    box-shadow: inset 0 0 7px #004B56;
    border-radius: 1rem;
}

.form__cityName:hover,
.form__button:hover{
    background:#B6CDC1;
    transition: ease .2s;
}

.form__cityName {
    flex-grow: 5;
    margin-right: 1rem;
    opacity: 0;
    animation:cityName ease-in .5s .6s forwards;
}

@keyframes cityName  {
    0% {
        top:0;
        left:-40rem;
        opacity: 0;
    }
    100% {
       top:0;
       left:0;
       opacity: 1;
    }
}

.form__button {
    flex-grow: 2;
    text-transform:uppercase;
    opacity: 0;
    animation:button ease-in .5s .6s forwards;
}

@keyframes button  {
    0% {
        top:0;
        left:40rem;
    }
    100% {
       top:0;
       left:0;
       opacity: 1;
    }
}

.weather__container {
    position: relative;
    margin: 1rem auto;
    max-width: 70%;
    flex-basis: 60%;
}

.weather__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weather__title {
    list-style: none;
    display: flex;
}

.weather__letter {
    position: relative;
    opacity: 0;
}

.weather__title {
    opacity: 0;
}

.weather__title,
.weather__temp {
    font-weight: bold;
    font-size: 2.5rem;
    color: #205F61;
}

.weather__tempWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    opacity: 0;
}

.weather__temp {
    font-size: 2.5rem;
}

.weather__iconWrapper {
    position: relative;
    text-align: center;
}

.weather__icon {
    filter: drop-shadow(1px 1px 20px #034724);
    margin: 0 .5rem;
}

.weather__description {
    font-size: 1.2rem;
    color: #6A7280;
}

.weather__main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    font-size: 1.3rem;
    color: #6A7280;
}

.weather__infoWrapper,
.weather__compass {
    position: relative;
    opacity: 0;
}

.compass__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compass__title {
    margin-bottom: 2rem;
    color: #205F61;
}

.compass__arrowWrapper {
    width: 13rem;
    height: 13rem;
    position: relative;

    border: 3px dashed #0048BA;
    border-radius: 50%;
    transform: rotateZ(-90deg);
}

.compass__arrow {
    width: 3rem;
    position: absolute;
    top: 5.5rem;
    left: 9.5rem;
    transform-origin: -110% 55%;
    fill: red;
}

.compass__background {
    list-style: none;
}

.compass__north,
.compass__south,
.compass__west,
.compass__east {
    position: absolute;
}

.compass__north{
    top: 2.1rem;
    left: 6.2rem;
}

.compass__south {
    top: 16.7rem;
    left: 6.3rem;
}

.compass__west {
    top: 9.5rem;
    left: -1.4rem;
}

.compass__east {
    top: 9.5rem;
    left: 13.5rem;
}

@media screen and (max-width: 767px) {
    html {
        padding: 5%;
        font-size: 12px;
    }
    .container {
        margin: 0 auto;
    }
    .title {
        padding: 0;
        margin-bottom: 2rem;
    }
    .form {
        flex-direction: column;
    }
    .form__cityName {
        width: 100%;
        margin: 0 auto 2rem;
    }
    .weather__container {
        max-width: 100%;
        margin: 2rem auto;
    }
    .weather__title{
        margin-right: 1rem;
    }
}